.body_container{
  display: flex;
  flex-direction: column;
  width: 70%;
  max-height: 70%;
  gap: 10px;
}

.additem-container{
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  width: 100%;
}

input{
  padding: 8px;
  width: 180px;
  border: none;
  font-size: 1.1rem;
  font-family: 'Rubik', sans-serif;
}

.list_display{
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: 80%;
  overflow-y: auto;
}

.item_checkbox::placeholder {
  color: #000;
}

input:focus {outline:none;}


.icon:hover{
  cursor: pointer;
  transform: scale(2);
  transform: rotate(45deg);
  transition: ease-in-out 0.25s;
}

.icon{
  transition: ease-in-out 0.35s;
}

.body_item_container{
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content:flex-start;
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
}

.left_side_body{
  display: flex;
  gap: 25px;
  justify-content: flex-start;
  width: 85%;
  overflow-x: hidden;
}

.right_side_body{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.item_checkbox{
  width: 15px;
}

.item_edit{
  padding: 8px;
  font-size: 1.1rem;
  padding: 8px;
}

.edit_input{
  background: #ededed;
}
 
.item_tick:hover{
  cursor: pointer;
}

.body_footer{
  display: flex;
  align-items: center;
  border-top: 1px solid #63666A;
}



