@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@600&display=swap');

body {
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Rubik', sans-serif;
}


* {
  scrollbar-width: 5px;
  scrollbar-color: #63666A  #d3d3d3;
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background: #d3d3d3;
}

*::-webkit-scrollbar-thumb {
  background-color: #63666A;
  border-radius: 5px;
}
